name: Build EntityCore

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Java 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Set up Gradle
        uses: gradle/gradle-build-action@v3

      - name: Build plugin
        run: gradle build

      - name: Upload plugin jar
        uses: actions/upload-artifact@v4
        with:
          name: EntityCore
          path: build/libs/*.jar
